*.cache
*.iws
*.lcov
*.log
*.pem
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
*~
.DS_Store
.cache
.docusaurus
.dynamodb/
.eslintcache
.node_repl_history
.nyc_output
.pnp.*
.pnp.js
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_*
.temp
.tern-port
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
coverage/
megalinter-reports/
node_modules/
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
.fleet/
CLAUDE.md
